*{
	font-family: 'Roboto', sans-serif;
}

.myBlue{
	background-color:#6ea3d7;
	color:#ffffff;
}

.myGold{
	background-color:#ffffcc;
	color:#6ea3d7;
}

.myWhite{
	color:#6ea3d7;
}

.bottomColor{
	background-color:#6B5ACD;
	color:#ffffff;
}

a{
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	font-size:1.7em;
}

.myButton {
    width: 10rem !important;
}

@media screen and (max-width: 1025px) {
	.bigAndUp{
		display:none !important;
	}
}

@media screen and (max-width: 769px) {
	.mediumAndUp{
		display:none !important;
	}
}

@media screen and (min-width: 1025px) {
	.mediumOnly{
		display:none !important;
	}
}

@media screen and (min-width: 767px) {
	.smallOnly{
		display:none !important;
	}
}

@media screen and (max-width: 767px) {
	.notSmall{
		display:none !important;
	}
}